  
  .SearchingInput {
    flex: 1;
    margin: 0px 20px;
    height: 32px;
    border-radius: 30px;
    display: flex;
    flex-flow: row;
    background-color: #fff;
  }
  
  .textbox{
    background-color: transparent;
    border: none;
    margin-left:20px;
    padding: 0;
    color: rgba(0,0,0,.87);
    outline: none;
    display: flex;
    flex: 1;
    -webkit-tap-highlight-color: transparent;
    font: 14px arial,sans-serif;
  }


  @media(max-width: 629px){
    .SearchingInput{
    margin: 0px 10px;
    }
    .textbox{
      font-size: 12px;
    }
}