.header{
    position: fixed;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 60px;
    z-index: 500;
    top:0;
    left: 0;
    background-color: #ff3333;
    border-bottom: 0.5px solid rgba(0,0,0,0.2);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.logo{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}

.image {
    padding: 0px 5px;
    width: 48px;
    height: 48px;
    border-radius: 4px;
}

.logoname{
    padding: 0px 15px; 
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.topheader{
    width: 100%;
    display:flex;
    flex-flow: row;
    align-items:center;
    flex:1;
}
.bottomheader{
    border-top: 1px solid #0004;
    display: none;
    width: 100%;
    align-items:center;
    justify-content: center;
}
.topheaderFilter{
    display: unset;
}

@media(max-width: 629px){
    .header{
        display: flex;
        flex-flow: column;
        height: 120px;
        transition-duration: 0.3s;
    }
    .logoname{
        display: none;
    }
    .topheaderFilter{
        display: none;
    }

.bottomheader{
    display: unset;
}
}
