.header{
    position: fixed;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    z-index: 500;
    top:0;
    left: 0;
    background-color: #ff3333;
    border-bottom: 0.5px solid rgba(0,0,0,0.2);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.logo{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}

.image {
    padding: 0px 5px;
    width: 48px;
    height: 48px;
    border-radius: 4px;
}

.logoname{
    padding: 0px 15px; 
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


@media(max-width: 629px){
    .header{
        display: flex;
    }
    .logoname{
        display: none;
    }
}
