.filters{
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.custom_dropdown {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
  }
  
  .custom_dropdown select {
    outline: none;
    border-radius: 15px;
    color: #777;
    background-color: white;
    font-size: 14px;
    width: 80px;
    height: 30px;
    padding-left: 1em;	
    margin: 0;
    text-overflow: '';
    -webkit-appearance: button;
  }
  
  .custom_dropdown::before,
  .custom_dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }

  .custom_dropdown select[disabled] {
  }
  
  .custom_dropdown select[disabled]::after {
  }
  
  .custom_dropdown::before {
  }
  
  .custom_dropdown::after {
  }

  @media(max-width: 629px){
    .custom_dropdown select{
        width: 30px;
        padding-left: 0em;
    }
    .custom_dropdown{
    margin: 2px;
    }
  }