
  .filters{
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}

.custom_dropdown {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    outline: none;
    width: 40%;
  }
  
  .custom_dropdown select {
    outline: none;
    border: none;
    border-radius: 15px;
    color: #777;
    background-color: white;
    font: 12px arial,sans-serif;
    width: 120px;
    height: 32px;
    padding-left: 1em;	
    margin: 0;
    text-overflow: '';
    -webkit-appearance: button;
  }
  
  .custom_dropdown::before,
  .custom_dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }
