.App {
  text-align: center; 
  background: rgb(148,241,124);
  background: linear-gradient(110deg, rgba(148,241,124,1) 0%, rgba(251,255,205,1) 8%, rgba(214,202,255,1) 16%, rgba(204,242,255,1) 24%, rgba(255,207,233,1) 32%, rgba(255,214,180,1) 40%, rgba(255,210,210,1) 48%, rgba(211,255,248,1) 56%, rgba(201,190,255,1) 64%, rgba(255,197,217,1) 72%, rgba(128,255,147,1) 80%, rgba(255,189,207,1) 87%, rgba(255,177,177,1) 93%, rgba(139,242,255,1) 100%);
  padding: 12px;
}

@media(max-width: 629px){
  .App{
    padding: 7px;
  }
}