.circle1,.circle2{
    width: 4px;
    height: 4px;
    margin: 2px 1px;
    background-color: #777;
    border-radius: 2px;
}


.rows{
    display: flex;
    flex-flow: row;
}

.rows:hover  .cube{
        background-color: #333;
}
@media(max-width: 629px){
    .circle2{
        background-color: transparent;
    }
}